
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Muli", sans-serif;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}
.person {
  width: 345px;
}
img {
  width: 345px;
}
.media a {
  text-decoration: none;
  font-size: 13px;
}
.media li {
  margin: 10px;
}
input {
  font-size: 11px;
  padding: 9px 20px;
  color: white;
  background-color: black;
  font-weight: bolder;
  border: 3px solid black;
  display: inline-block;
}
.cart a {
  text-decoration: none;
  color: black;
  border: 2px solid black;
  font-size: 13px;
  font-weight: bolder;
  padding: 8px 21px;
  display: inline-block;
}
.cart li {
  margin: 5px;
}
.cart {
  margin-bottom: 20px;
}
span {
  padding: 10px;
  color: grey;
  font-size: 12px;
}
h3 {
  text-align: center;
  margin-bottom: 0;
  font-weight: lighter;
  font-size: 18px;
}
.fa-star {
  color: orange;
}
.media2 .fa-heart {
  color: red;
}
.media1 .fa-heart,
.media3 .fa-heart {
  color: lightgrey;
}
p {
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  color: grey;
  font-size: 13px;
  line-height: 1.6;
}
.media button {
  border: none;
  background-color: white;
  padding: 0;
}
